.wrapper {
    width: 100%;
    padding: 20px 0;
}

.button-wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.table {
    margin: 32px auto;
}

.table th, .table td {
    padding: 15px;
    border: 1px solid #ececec;
    border-collapse: collapse;
}